registry=https://pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/:username=tannuahuja 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/:_password=svdcqtm2jul4njjdvgfzzx5r2vekua3r5ure4fvsri53xswk73hq 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/:email=tannu@gmail.com
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/:username=tannuahuja 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/:_password=svdcqtm2jul4njjdvgfzzx5r2vekua3r5ure4fvsri53xswk73hq 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/:email=tannu@gmail.com
; end auth token
